extends layout

block main-content 
  .main-content 
    h2 Add New Category  
    form(action="/categories/add" method="POST" class="product-form")
      .form-items
        label Name 
        input(type="text" name="name" required)
      .form-items
        label Description  
        input(type="text" name="description")
      button(type="submit") ADD Category  