extends layout

block main-content 
  .main-content 
    h2 Welcome Admin 👋
    p Welcome to the Coffee Corner management area. Use the navigation links below to manage your data.
    ul
    li 
        a(href="/products") Manage Products
        br
        br
        a(href="/categories") Manage Categories      