extends layout

block main-content 
  .main-content 
    h3 Welcome Admin 👋
    ul
    li 
        a(href="/products") Manage Products
        br
        br
        a(href="/categories") Manage Categories      