body {
  font-family:'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

/* HEADER */
 header{
  background-color: #2C1D1A;
  color: white;
  padding: 20px;
  text-align: center;
}
header h1{
  margin: 0;
  font-size: 2.5rem;
}
#site-name{
  margin-top: 10px;
}
#site-name a{
  color: beige;
  text-decoration: none;
  font-weight: bold;
  margin: 0 10px;
}
#site-name a:hover{
  color: #eb791b;
}
a{
  text-decoration: none;
  color: #0056b3;
}
h2{
  text-align: center;
  color: #f17713;
}

main{
  flex: 1;
}

/* PRODUCT SECTION */
.products {
  padding: 40px 20px;
}
.products h2 {
  text-align: center;
  color: #A14F34;
  margin-bottom: 30px;
}
.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  max-width: 1200px;
  margin: 0 auto;
}

/* FORMS */
.product-form{
  max-width: 500px;
  margin:20px auto;
  padding:20px;
  background: #f9f9f9;
  border-radius: 8px;
}
.form-items{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.form-items label{
  font-weight: bold;
  margin-bottom: 5px;
  color: #38220f;
}
.form-items input{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1 rem;
}
button{
  width: 100%;
  padding:12px;
  background-color: #2e7d32;
  color: white;
  border: none;
  font-weight: bold;
}
button:hover{
  background-color: #1b5e20;
}

/*PRODUCT CARDS*/
.product {
  background-color: white;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}
.product:hover {
  transform: translateY(-5px);
}
.product img {
  width: 100%;
  aspect-ratio: 3 / 4;
  object-fit: cover;
  display: block;
}
.product h3 {
  color: #fc9239;
  margin: 15px;
}
.product p {
  margin: 0 15px 15px;
}

/*UPDATE & DELETE LINKS*/
.actions {
    padding: 15px;
    display: flex;
    gap: 90px;
}
.update-link,
.delete-link {
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}
.update-link {
    color:#4A6741;
}
.update-link:hover {
    color: #1b5e20;
}
.delete-link {
    color: #d32f2f;
}
.delete-link:hover {
    color: #b71c1c;
}

/* CATEGORIES PAGE */
.table-border{
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
.table-border th,
.table-border td {
  padding: 12px;
  text-align: left;
  color: #fc9239;
}
.table-border th{
  background-color: #2e7d32;
  color: white;
}
.table-border tr:nth-child(even){
  background-color: #f5f5f5;
}

/*FOOTER*/
footer {
  background-color: #2C1D1A;
  color: white;
  text-align: center;
  padding: 15px;
}

/*TABLET*/
@media (max-width: 992px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* MOBILE */
@media (max-width: 600px) {
  .products-container {
    grid-template-columns: 1fr;
  }
}